.auth {                                                                                                                                                                                                           
    transform: scale(1.5);                                                                                                                                                                                        
    height: 80%;                                                                                                                                                                                                  
    margin: auto;                                                                                                                                                                                                 
    width: 20%;                                                                                                                                                                                                   
    margin-top: 50px;                                                                                                                                                                                        
}

.wrapper{
    background-color: #00452312;
}

.brand-logo{
    left: 1%;
}

.order-info {
    text-align: center;
}

.message-user{
    position: relative;
    text-align: right;
}

.message-other{
}

label {
    color: black;
    font-weight: bold;
}