{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo" href="/">eletrader</a>
        <ul class="right">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'account:profile' %}">{{request.user}}</a></li>
            <li><a href="{% url 'account:logout' %}">Wyloguj</a></li>
        {% else %}
            <li><a href="{% url 'account:login' %}">Zaloguj się</a></li>
            <li><a href="{% url 'account:register' %}">Zarejestruj się</a></li>
        {% endif %}
        </ul>
    </div>
</nav>
{% if messages %}
<div class="container">
    <div class="wrapper card">
        <div class="valign-wrapper center-align" style="background-color: aquamarine;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% block content %}
{% endblock %}
<script>
    {% block js %}
    {% endblock %}
</script>
</body>
</html>