{% extends 'account/base.html' %}
{% load static %}
{% block title %}
My profile
{% endblock %}

{% block content %}
<div class="container">
    <p>Welcome on your profile</p>
    <a href="{% url 'account:edit' %}">Edit</a>
    {% with orders=request.user.orders.all %}
        {% if orders|length == 0 %}
            <p>No orders. <a href="{% url 'marketplace:create' %}">Create order!</a></p>
        {% else %}
            {% include "marketplace/list.html" with orders=orders %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}