{% extends 'account/base.html' %}
{% load static %}
{% block title %}
Moje konto
{% endblock %}

{% block content %}
<div class="container">
    <p>Witaj na swoim profilu</p>
    <a href="{% url 'account:edit' %}">Edytuj</a>
    {% with orders=request.user.orders.all %}
        {% if orders|length == 0 %}
            <p>Nie masz żadnych ogłoszeń. <a href="{% url 'marketplace:create' %}">Dodaj zgłoszenie!</a></p>
        {% else %}
            {% include "marketplace/list.html" with orders=orders %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}