{% extends 'account/base.html' %}
{% load material_form %}
{% block title %}
Zarejestruj się
{% endblock %}

{% block content %}
<div class="container">
    <div class="wrapper card">
        <div class="valign-wrapper center-align register ">
            <form method="post" action="">
                {% form %}
                {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
                {% part form.password prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}
                {% endform %}
                {% csrf_token %}
                <input type="submit" class="btn" value="zarejestruj się">
            </form>
        </div>
    </div>
</div>
{% endblock %}