{% extends 'account/base.html' %}

{% block title %}
{{order.name}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="order-info">
        <p class="flow-text">{{order.name}}</p>
        <div style="float: left;">
            <img class="responsive-img image card" src="{{order.image.url}}" style="width: 450px; height: 450px;">
        </div>
        <div style="float: left; padding: 3%; margin-left: 10%;" class="card">
            <p>Rodzaj: {{order.order_type}}</p>
            <p>Kategoria: {{order.item_type}}</p>
            <blockquote>
                {{order.description}}
            </blockquote>
            <p>Cena za sztukę: {{order.item_price}} zł, ilość: {{order.quantity}}</p>
            <div class="owner-info">
                {% with user=order.owner %}
                    <p>Zgłoszenie wysłane przez <a href="{% url 'account:user-details' user.pk %}">{{user}}</a></p>
                    <p>{{user.email}}</p>
                    {% if user.phone_number %}
                        <p>{{user.phone_number}}</p>
                    {% endif %}
                {% endwith %}
            </div>
            {% if request.user != order.owner %}
                <input type="button" class="btn" id="new-message-btn" value="Wyślij wiadomość"/>
            {% else %}
                <div class="divider"></div>
                <p>{{order.clicks.all|length}} użytkowników to zaciekawiło.</p>
                <a href="{% url 'message:senders' order.slug %}">Sprawdź bierzące dyskusje</a>
                <br>
                <a href="{% url 'marketplace:edit' order.pk order.slug %}">Edytuj</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block js %}

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById("new-message-btn").onclick = redirect
});

function redirect(){
    window.location.replace("/message/{{order.pk}}/{{order.slug}}")
}
{% endblock %}