{% extends 'account/base.html' %}

{% block title %}
Stwórz ogłoszenie
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="" enctype="multipart/form-data">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" value="Stwórz" class="btn">
    </form>
</div>
{% endblock %}

{% block js %}
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, ['']);
});


{% endblock %}